---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import logoImg from "../assets/logo/takumi_prof.jpg";
import { Icon } from "astro-icon/components";
---

<Layout>
	<section class="pt-8 px-4 max-w-2xl mx-auto">
		<div class="flex flex-col md:flex-row items-center md:items-start gap-8 mb-8">
			<div>
				<Image src={logoImg} alt="takumi's photo" width="180" height="180" class="object-cover border border-blue-gray rounded-full" />
			</div>
			<div class="text-left">
				<h1 class="text-3xl font-bold mb-2">takumi</h1>
				<p class="text-lg mb-4">Software Engineer / Tokyo, Japan</p>
				<div class="text-xl flex gap-4 mb-6">
					<a href="https://github.com/takumi-pro" target="_blank" class="hover:text-blue-500 transition-colors">
						<Icon class="hover:cursor-pointer" name="uiw:github"/>
					</a>
					<a href="https://x.com/takumidiary" target="_blank" class="hover:text-blue-500 transition-colors">
						<Icon class="hover:cursor-pointer" name="prime:twitter" />
					</a>
				</div>
			</div>
		</div>

		<section class="prose mt-8">
			<p class="text-gray-700 leading-relaxed">
				東京都を拠点にするソフトウェアエンジニアです。toB Saasのプロダクト開発を行っています。
				技術を手段として事業貢献することはもちろんですが、ただの手段ではなく、
				技術の仕組みを理解し裏側を知ること自体を楽しむことが好きです。
			</p>
			
			<p class="text-gray-700 leading-relaxed mt-6">
				このページでは、僕の人生の軸やエンジニアとして考えていることなどを書いてます。
			</p>
		</section>

		<section class="mt-8">
			<h2 class="text-gray-700 text-3xl font-bold">人生の4軸</h2>
			<hr class="mt-2 text-gray-300" />
			<p class="mt-4 text-gray-700 leading-relaxed">
				僕の人生の軸は
				<span class="font-bold">探究心</span>,
				<span class="font-bold">継続的成長</span>,	
				<span class="font-bold">仲間との切磋琢磨</span>,
				<span class="font-bold">大切な人との時間</span>
				の4つです。
				これまで26年間生きてきた歴史を振り返って、自分の行動や感情から導き出した軸たちです。
				この先の選択を決めるための指針となり、幸福度を上げる指標ともなり得るかな？と思っています。
			</p>

			<h3 class="mt-6 text-gray-700 text-xl font-bold">探究心</h3>
			<p class="mt-4 text-gray-700 leading-relaxed">

				昔から、物事の仕組みの裏側を解き明かすことが好きでした。特に理系科目が好きで、
				科学・微生物・宇宙・鉱物・化学など、さまざまな分野の本を通じて未知の領域の仕組みに興味を持っていました。<br /><br />
				本を読むだけでなく、理科の実験のように自分の手を動かすことも好きで、実験器具を買って実際に試してみたり、
				自分の目で確かめることを大切にしていましたね。<br /><br />
				そんな経験から、「手を動かして仕組みを作り出せる」ソフトウェアエンジニアという職業は、自分にとても合っていると感じています。天職ですね🙂<br /><br />
				最近では、共通基盤で使われている OAuth2.0 に興味を持ち、RFC6749 を読みながら理解を深めつつ、
				実際に
				<a class="text-sky-600" href="https://github.com/takumi-pro/sample_oauth_calendar_app">OAuthを活用したカレンダーアプリ</a>
				を作ってみたりもしました。
			</p>

			<h3 class="mt-6 text-gray-700 text-xl font-bold">継続的成長</h3>
			<p class="mt-4 text-gray-700 leading-relaxed">
				自己の成長は資産だと思っています。吸収した経験や知識は廃れることはない、唯一無二の自分の武器になる、
				という考えが昔からあったのだと思います。
			</p>

			<h3 class="mt-6 text-gray-700 text-xl font-bold">仲間との切磋琢磨</h3>
			<p class="mt-4 text-gray-700 leading-relaxed">
				これまでの人生で一番印象に残っているのは、高専で過ごした5年間の陸上部での経験です。
				あっという間の5年間でしたが、本当にいろいろなことがありました。
				そうした時間を共に過ごした陸上部の仲間たちは、今ではかけがえのない存在です。
			</p>

			<h3 class="mt-6 text-gray-700 text-xl font-bold">大切な人との時間</h3>
			<p class="mt-4 text-gray-700 leading-relaxed">
				昔から、ちょっとした賞をもらったり、自慢できるようなことがあった時は、自然と家族に話していました。今でもそれは変わりません。<br /><br />
				普段はあまり口数が多い方ではありませんが、そういう時は自然と話したくなります。
				そんな時間を、これからも大切にしていきたいと思っています。
			</p>
		</section>

		<section class="mt-8">
			<h2 class="text-gray-700 text-3xl font-bold">エンジニアとして</h2>
			<hr class="mt-2 text-gray-300" />

			<p class="mt-4 text-gray-700 leading-relaxed">
				work in progress...
			</p>
		</section>
	</section>
</Layout>
