---
import Layout from '../layouts/Layout.astro';
import WorksList from '../components/WorksList.astro';
---

<Layout title="Works | My Portfolio">
  <main class="container mx-auto px-4 py-8">
    <div class="max-w-4xl mx-auto">
      <WorksList />
    </div>
  </main>
</Layout>