---
import DropdownMenu from "./ui/DropdownMenu.astro";

const menuItems = [
	{ label: "About", href: "/about/" },
	{ label: "Works", href: "/works/" },
	{ label: "Posts", href: "/posts/" },
];
---

<header class="py-2 border-blue-gray bg-brown-200">
  <div class="max-w-2xl mx-auto flex justify-between items-center px-8">
    <div class="logo">
      <a href="/" class="block font-mplus-rounded font-semibold text-2xl text-gray-800">
        takumi
      </a>
    </div>
    <!-- Mobile menu button -->
    <DropdownMenu
      class:list={"hidden md:hidden"}
      itemClass='text-lg'
      items={menuItems}
    />
    <!-- Desktop navigation -->
    <nav class="hidden md:block">
      <ul class="flex gap-8 items-center">
        <li><a href="/about/" class="transition-colors duration-200 font-mplus-rounded">
          About
        </a></li>
        <li><a href="/works/" class="transition-colors duration-200 font-mplus-rounded">
          Works
        </a></li>
        <li><a href="/posts/" class="transition-colors duration-200 font-mplus-rounded">
          Posts
        </a></li>
      </ul>
    </nav>
  </div>
</header>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const menuToggle = document.getElementById('menu-toggle');
    const mobileMenu = document.getElementById('mobile-menu');
    
    if (menuToggle && mobileMenu) {
      menuToggle.addEventListener('click', () => {
        mobileMenu.classList.toggle('hidden');
      });
    }
  });
</script>
